@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #F3F3FA;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 15px;
}

h5{
    font-size: 10px;
}

  .book {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: auto;
    max-height: auto;
    margin: auto;
    text-align: center;
  }
  
  .row {
    width: 100%;
    margin: auto;
    display: inline-flex;
    justify-content: center; 
    
  }
  .block {
    width: auto;
  }

  .favorite {
    position: relative;
    top: 30px;
    left: 40%;
    color:red;
  }

  .favorite:hover {
      color:#F8A4A4;
      cursor: pointer;
  }

  .portada {
    text-align: center;
	display: inline-block;
  	border-radius: 5px;
 	padding: 5px;
  	max-width: 150px;
 	height: auto;
 	margin: auto;
  	cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #DBA401;
    color: white;
    text-align: center;
  }
    
  .footer-tabla {
    table-layout: fixed;
    width: 100%;
  }

 a.foot {
     color:white;
 }

 a.foot:hover{
     color:black;
 }

 th.foot{
     font-size: 22px;
     font-weight: bold;
 }
  
 /*Menù lateral*/
 #btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(245, 243, 243, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #DDDCDD;
    height: 100vh;
    position: relative;
    transition: all 250ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #000000;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #000000;
    background: #EFD319;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
}
/*Fin de Menù lateral*/

/*Estilos para el encabezado*/
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height:100px;
}
.container .btn-menu label{
    color: rgb(31, 30, 30);
    font-size: 25px;
    cursor: pointer;
}
.logo h1{
    color: rgb(32, 32, 32);
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #EFD319;
    padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/